

p1{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding:5%;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2
{
flex-basis: 50%;
min-width: 300px;
}
col2 img{
    max-width: 100px;
    padding: 50px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;

}
.btn:hover{
    background: #563434;

}
.head{
    background: radial-gradient(#fff,#ffd6d6)
}
.head .row{
    margin-top: 70px;
} 
.categories{
    margin: 70 px;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.small-cotainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
col4 img{
    width: 100%;
}
.title{
    text-align: center;
}
.core4 
{
margin: 0 auto 80px;
position: relative;
line-height: 60px;
}
.core4::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-90%);
}
#name{
transform: translatex(42%);
}
#nam{
    transform: translate(33%);
}
#na{
    transform: translate(43%);
}
#n{
    transform: translate(28%);
}
.kl{
    transform: translate(5%);
}
.headi{
    background: lightblue;
}
span{
    color:red;
    font-size: 18px;
}
































 